header {
    display: flex;
    list-style-type: none; /* Remove bullet points */
    background-color: orange; /* Set background color to orange */
}
header li {
    margin-right: 10px; /* Add some spacing between navigation items */
    display: inline;
}

header a {
    text-decoration: none; /* Remove underline from links */
    color: white; /* Set text color to white */
    padding: 10px; /* Add some padding to the links */
}

header a:hover{
    background-color: white; /* Change background color on hover */
    color: orange; /* Change text color on hover */
}
